*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plain Light;
}

html,body{
    width: 100%;
    height: 100%;
}

#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    /* background-color: #fff; */
    border: 1.5px solid #ffffffbe;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    padding: 20vh 10vw;
    /* overflow: hidden; */
}

.line{
    /* background-color: red; */
    color: #fff;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#lineload{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#lineload h5,#lineload h6{
    font-size: 3vw;
    font-family: Silk Serif;
    font-weight: 100;
}

.line h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6vw;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.line h2{
    font-size: 4.6vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.line #para{
    display: flex;
    align-items: center;
    /* justify-content: center;  */
}


.line p{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

@keyframes anime{
    0%{
        font-family: Plain Light;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: Plain Light;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #030303ef;
}

#page1{
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: rgba(8, 8, 8,);
}

#page1 #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#navinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#navinfo h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.center{
    width: 72%;
    margin-left: 27%;
    height: auto;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.center:nth-child(2){
    margin-top: 11vh;
}

.center h1{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
}

.center #under h1{
    text-decoration: underline;
}

.center h2{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.7vw;
    /* transition: all ease-in-out 0.3s; */
}

.center h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #000;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 16vh;
    position: relative;
    /* background-color: red; */
}

#video{
    height: 60vh;
    width: 68vw;
    position: relative;
    left: 31%;
}

#video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute
}

#video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: relative; */
}

#video-crsr{
    background-color: #ffa63d;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-crsr i{
    font-size: 2vw;
    color: #fff;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000000b9;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: #fff;
    background-color: #000000e3;
}

#page4-txt{
    font-size: 4vw;
}